a:hover {
    text-decoration: none;
}
.main-card-wide > .mdl-card__title {
    color: #fff;
    height: 22em;
    /*width: 800px;*/
    background: url('../Images/ExcellenceInTeachingLogo.jpg') center / cover;
    /*background-size: cover;*/
}
.main-card-wide > .mdl-card__menu {
  color: #fff;
}

.main-card-wide > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.mdl-teacher section.section--center {
  max-width: 860px;
}

main.mdl-layout__content {
    padding: 8px;
    padding-top: 48px;
}
.mdl-teacher .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.table-header h4 {
    margin-top: 0;
    padding-left: 3em;
}
.entries {
    margin-left: 5em;
}